html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
<form action="/Task11_war_exploded/signUp" method="post">
    <label>First Name
        <input name="firstName" placeholder="Enter first name..."></label>
    <label>Last Name
        <input name="lastName" placeholder="Enter last name..."></label>
    <label>Email
        <input name="email" placeholder="Enter email..."></label>
    <label>Password
        <input name="password" type="password" placeholder="Enter password..."></label>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>
